.awards{
    position: relative;
    justify-content: center;
    text-align: center;
    .tripadvisor {
        justify-content: space-evenly;
    }
    .awards-text{
        text-align: justify;
    }
}
